<app-navbar></app-navbar>

<div class="container">
  <h1>Agregar Producto</h1>

  <div class="upload-section">
    <button class="upload-button" *ngIf="!selectedImage" (click)="fileInput.click()">
      <i class="pi pi-upload"></i>
    </button>

    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
      style="display: none;" />

    <div *ngIf="selectedImage" class="image-preview">
      <img [src]="selectedImage" alt="Selected Image" class="preview-image" />
      <button class="remove-button" (click)="removeImage()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>

  <div class="form-section">
    <input type="text" placeholder="Nombre" [(ngModel)]="newProduct.titulo" name="titulo" />
    <input type="text" placeholder="Precio" [(ngModel)]="newProduct.precio" name="precio" />
    <textarea placeholder="Descripción" [(ngModel)]="newProduct.descripcion" name="descripcion"></textarea>

    <select [(ngModel)]="newProduct.categoria_id" name="categoria_id">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.nombre }}
      </option>
    </select>
  </div>

  <button
  class="add-button"
  [ngClass]="{
    'btn-success': buttonState === 'success',
    'btn-error': buttonState === 'error',
    'btn-loading': buttonState === 'loading'
  }"
  (click)="createProduct()"
  [disabled]="buttonState === 'loading'">
  <span *ngIf="buttonState !== 'loading'">{{ buttonLabel }}</span>
  <i *ngIf="buttonState === 'loading'" class="pi pi-spin pi-spinner"></i>
</button>

</div>


