
<div class="market-filters">
  <i class="pi pi-chevron-left" (click)="back()"></i>
</div>

<div class="product-page">
  <div class="product-card">
    <div class="product-image">
      <img src="assets/img/casco.png" alt="Producto">
    </div>
    <div class="product-details">

      <h1 class="product-title">Titulo</h1>
      <input type="text" id="product-title">

      <h1 class="product-title">Precio</h1>
      <input type="number" id="product-price" >

      <h1 class="product-title">Descripción</h1>
      <input id="product-description">

      <h1 class="product-title">Categoria</h1>
      <input type="text" id="product-category">
      <br><br>

      <button class="buy-button">Editar</button>
    </div>
  </div>
</div>
