<div class="market-filters">
  <i class="pi pi-chevron-left" (click)="back()"></i>
</div>

<div class="product-page">
  <div class="product-card">

    <div class="product-image">
      <img *ngIf="productImage && !imageUploaded" [src]="productImage" alt="Producto"> <!-- Solo mostrar la imagen actual si no se ha cargado una nueva -->

      <div *ngIf="isUploading" class="loading-text">
        <i class="pi pi-spin pi-spinner"></i> Cargando...
      </div>

      <div *ngIf="imageUploaded && !isUploading" class="uploaded-text">
        Nueva foto cargada
      </div>

      <button class="change-image-button" (click)="onImageChange()">Cambiar Imagen</button>
      <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
    </div>




    <div class="product-details">
      <!-- Detalles del producto -->
      <h1 class="product-title">Título</h1>
      <input type="text" id="product-title" [(ngModel)]="product.titulo" (change)="onInputChange()">

      <h1 class="product-title">Precio</h1>
      <input type="number" id="product-price" [(ngModel)]="product.precio" step="1" [value]="product.precio" (change)="onInputChange()">

      <h1 class="product-title">Descripción</h1>
      <input id="product-description" [(ngModel)]="product.descripcion" (change)="onInputChange()">

      <h1 class="product-title">Categoría</h1>
      <select id="product-category" [(ngModel)]="product.categoria_id" (change)="onInputChange()">
        <option [value]="1">Plástico</option>
        <option [value]="2">Textil</option>
      </select>

      <h1 class="product-title">Estado</h1>
      <select id="product-status" [(ngModel)]="product.estado">
        <option value="Venta">Venta</option>
        <option value="Subasta">Subasta</option>
      </select>
      <br><br>

      <button
      class="buy-button"
      [ngClass]="{'save-button': buttonState === 'success', 'error-button': buttonState === 'error'}"
      (click)="onSave()">
      {{ buttonLabel }}
    </button>
      <button class="delete-button" (click)="onDelete()">Eliminar Producto</button>
    </div>
  </div>
</div>
