body {
  background-color: #25272e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.market-filters {
  margin-left: 2rem;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

i {
  font-size: 2.5rem;
  color: #ffffff;
  cursor: pointer;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Para centrar en toda la altura */
  padding-top: 50px; /* Asegurar que haya espacio entre el icono y el contenedor */
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  max-width: 60rem;
  width: 60rem;
  padding: 20px;
  text-align: left;
}

.product-image {
  width: 40%;
  margin-right: 20px; /* Espacio entre la imagen y el resto del contenido */
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.change-image-button {
  margin-top: 10px;
  background-color: #75d1bf;
  color: #333;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.product-details {
  width: 60%; /* Ajustamos el ancho para que todo esté simétrico */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #25272e;
}

input, select, textarea {
  height: 2.5rem;
  width: 100%;
  border-radius: 15px;
  color: #25272e;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  height: 100px;
}

button {
  background-color: #75d1bf;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: 10px;
}

button:hover {
  background-color: #65c1af;
}

.delete-button {
  background-color: #f44336;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.loading-icon {
  margin-top: 10px;
  font-size: 20px;
  color: #75d1bf;
  display: flex;
  align-items: center;
}

.loading-icon i {
  margin-right: 5px;
}

