<div class="market-filters">
  <i class="pi pi-chevron-left" (click)="back()"></i>
</div>

<div class="product-page">
  <div class="product-card">
    <div class="product-image">
      <img src="assets/img/casco.png" alt="Producto">
    </div>
    <div class="product-details">
      <h1 class="product-title">Título del Producto</h1>
      <p class="product-price">€99,99</p>
      <p class="product-description">
        Descripción detallada del producto. Aquí se resaltan las características, beneficios y cualquier otra información relevante que pueda atraer al comprador.
      </p>
      <button class="buy-button">Comprar Ahora</button>
    </div>
  </div>
</div>
