.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  background-color: #111827; /* Fondo oscuro */
  padding: 0 5rem;
  color: white;
}

.login-form {
  max-width: 400px;
  width: 100%;
  margin-left: 5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f3f4f6; /* Color claro para inputs */
}

.btn-continue {
  width: 26.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: none;
  background-color: #75d1bf; /* Verde */
  color: white;
  cursor: pointer;
}

.login-options {
  display: flex;
  justify-content: space-between;
}

.btn-register {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #e5e7eb; /* Color gris claro */
  color: black;
  cursor: pointer;
  width: 15rem;
}

.btn-register:hover {
  background-color: #75d1bf; /* Gris más oscuro */
  color: #ffffff;
}

.login-image img {
  height: 35rem;
  width: 40rem;
}


/* Ajustes para pantallas de 768px o menos (tablets y móviles) */
@media (max-width: 768px) {
  /* Ajuste del contenedor de registro para pantallas pequeñas */
  .login-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
  }

  /* Ajuste del formulario de registro para pantallas pequeñas */
  .login-form {
    max-width: 100%;
    margin-left: 0;
    padding: 0 1rem;
  }

  /* Título más pequeño en pantallas pequeñas */
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  /* Inputs más pequeños en pantallas pequeñas */
  input[type="email"],
  input[type="password"],
  input[type="text"] { /* Para el campo de Nombre */
    padding: 0.5rem;
    font-size: 1rem;
  }

  /* Botón de continuar ajustado */
  .btn-continue {
    width: 100%;
    padding: 0.5rem;
  }

  /* Botón de iniciar sesión ajustado */
  .btn-register {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  /* Ajuste de la imagen en pantallas pequeñas */
  .login-image {
    display: none; /* Ocultamos la imagen en pantallas pequeñas */
  }
}
